<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>NODEMAILER</h1>

<form action="/send-email" method="POST">

  <label for="">Email</label>
  <input type="email" name="email" id="email">

  <label for="">Subject</label>
  <input type="text" name="subject" id="subject">

  <label for="">Message</label>
  <textarea type="text" name="message" id="message"></textarea>

  <button type="submit">Submit</button>
</form>
</body>
</html>